*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    /* CSS Vars */
    --website-bg-color: #1c1c1c;

    --app-bg-color: #1f2937;
    --app-text-color: lightgrey;
    --button-main-color: #10b981;
    --password-lighter-bg-color: #273549;

    --default-spacing: 20px;
    --default-border-rad: 10px;

    --large-font: 20px;
    --standard-font: 16px;

    --app-width: 500px;
    --h1-max-width: 280px;
    --button-width: 200px;
    --password-container-height: 50px;
    --password-container-width: 240px;
    --box-shadow-dimensions: 1px;
    --default-padding: 10px;
}

body {
    background-color: var(--website-bg-color);
}

.app-container {
    background-color: var(--app-bg-color);
    max-width: var(--app-width);
    display: flex;
    flex-direction: column;
    padding: calc(var(--default-padding) * 2) calc(var(--default-padding * 4));
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--default-spacing);
    border-radius: var(--default-border-rad);
}

h1 {
    color: var(--app-text-color);
    max-width: var(--h1-max-width);
    margin-bottom: var(--default-spacing);
    font-size: var(--large-font);
}

.app-container p {
    color: var(--app-text-color);
    font-size: var(--standard-font);
}

button {
    border: none;
    color: var(--app-text-color);
    background-color: var(--button-main-color);
    padding: var(--default-padding) calc(var(--default-padding) * 1.5);
    border-radius: var(--default-border-rad);
    max-width: var(--button-width);
    cursor: pointer;
    margin-top: var(--default-spacing);
    font-size: var(--standard-font);
}

button:hover {
    background-color: var(--app-text-color);
    color: var(--button-main-color);
}

button:active {
    box-shadow: calc(var(--box-shadow-dimensions) * -1) calc(var(--box-shadow-dimensions) *-1) var(--box-shadow-dimensions) var(--box-shadow-dimensions) var(--button-main-color);
}

hr.solid {
    border-top: 2px solid var(--app-text-color);
    width: 100%;
    margin: var(--default-spacing) 0;
}

.passwords {
    display: flex;
    justify-content: space-between;
}

.pass-container:first-child {
    margin-right: var(--default-spacing);
}

.pass-container {
    width: var(--password-container-width);
    height: var(--password-container-height);
    background-color: var(--password-lighter-bg-color);
    border-radius: var(--default-border-rad);
    display: flex;
    justify-content: center;
}

.pass {
    display: flex;
    align-items: center;
}

