* {
    /* CSS Vars */
    --website-bg-color: #1c1c1c;

    --app-bg-color: #1f2937;
    --app-text-color: lightgrey;
    --button-main-color: #10b981;
    --password-lighter-bg-color: #273549;

    --default-spacing: 20px;
    --default-border-rad: 10px;

    --large-font: 20px;
    --standard-font: 16px;
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--website-bg-color);
}

.app-container {
    background-color: var(--app-bg-color);
    max-width: 500px;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--default-spacing);
    border-radius: var(--default-border-rad);
}

h1 {
    color: var(--app-text-color);
    max-width: 280px;
    margin-bottom: var(--default-spacing);
    font-size: var(--large-font);
}

.app-container p {
    color: var(--app-text-color);
    font-size: var(--standard-font);
}

button {
    border: none;
    color: var(--app-text-color);
    background-color: var(--button-main-color);
    padding: 10px 15px;
    border-radius: var(--default-border-rad);
    max-width: 200px;
    cursor: pointer;
    margin-top: var(--default-spacing);
    font-size: var(--standard-font);
}

button:hover {
    background-color: var(--app-text-color);
    color: var(--button-main-color);
}

button:active {
    max-width: 198px;
}

hr.solid {
    border-top: 2px solid var(--app-text-color);
    width: 100%;
    margin: var(--default-spacing) 0;
}

.passwords {
    display: flex;
    justify-content: space-between;
}

.pass-container:first-child {
    margin-right: var(--default-spacing);
}

.pass-container {
    width: 240px;
    height: 50px;
    background-color: var(--password-lighter-bg-color);
    border-radius: var(--default-border-rad);
    display: flex;
    justify-content: center;
}

.pass {
    display: flex;
    align-items: center;
}

